body{
    background-image: url("fond.jpg");
}
.global{
    border: 0px solid black;
    width: 900PX;
    height: 600px;
    margin-top: 25px;

}
.header{
    border: 0px solid green;
    width: 800px;;
    height: 50px;
    background-image: url("capture.png");
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    font-size: x-large;
}
.body{
    border: 0px solid black;
    width: 800px;;
    height: 450px;
    background-color:white;
    color: white;
}
.footer{
    border: 0px solid rgb(246, 198, 216);
    width: 800px;
    height: 30px;
    background-image: url("capture.png");
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: large;
}
.navbar{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 150px;
    height: 450px;
    background-image: url("capture.png");
    color: white;
    float: left;
    text-align: center;
}
.nav{
    border: 0px solid black;
    width:  650px;
    height: 450px;
    background-color:white;
    float: left;
 }
 .menu{
    border: 0px solid black;
    border-radius:25px;
    width: 100px;
    height: 20px;
    background-image: url("menu.png");
    display: block;
    text-align: center;
    margin-top:30px;
    margin-left: 16%;
    text-decoration: none;
    padding: 5px;
    
 }
